# Dependencies
node_modules/
.pnpm-store/

# Build output
.next/
dist/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/
.idea/

# Vercel
.vercel/

# Prisma
apps/api/prisma/migrations/**/migration_lock.toml.bak

# Testing
coverage/
